<tr>
    {% if multiple %}
      <th></th>
    {% endif %}
    {% for label,key in fields %}
        {% if label != '_identifier_' %}
            {% if search_fields is not empty %}
                {% if i in search_fields %}
                  <td><input index="{{i}}" searchable="true" type="text" placeholder="{{ 'ali.common.search'|trans() }}" class="search_init form-control input-sm" /></td>
                {% else %}
                  <td></td>
                {% endif %}
            {% else %}
              {% if search_dropdown_values is not empty %}
                {% if attribute(search_dropdown_values, i) is defined %}
                  <td>
                      {% if attribute(search_range_values, i) is defined %}
                          From: <br>
                          <select class="form-control multi" index="{{i}}" searchable="true" placeholder="{{ 'ali.common.search'|trans() }}" name="multi[{{i}}][from]">
                              {% for optKey, optValue in search_dropdown_values[i] %}
                                  <option value="{{optKey}}">{{optValue}}</option>
                              {% endfor %}
                          </select>
                          <br>
                          To: <br>
                          <select class="form-control multi" index="{{i}}" searchable="true" placeholder="{{ 'ali.common.search'|trans() }}" name="multi[{{i}}][to]">
                              {% for optKey, optValue in search_dropdown_values[i] %}
                                  <option value="{{optKey}}">{{optValue}}</option>
                              {% endfor %}
                          </select>
                      {% else %}
                          <select class="form-control" index="{{i}}" searchable="true" placeholder="{{ 'ali.common.search'|trans() }}">
                              {% for optKey, optValue in search_dropdown_values[i] %}
                                  <option value="{{optKey}}">{{optValue}}</option>
                              {% endfor %}
                          </select>
                      {% endif %}
                  </td>
                {% else %}
                    {% include 'AliDatatableBundle:Main:field.html.twig' %}
                {% endif %}
              {% else %}
                  {% include 'AliDatatableBundle:Main:field.html.twig' %}
              {% endif %}
            {% endif %}
        {% elseif label == '_identifier_'and action and not action_twig %}
            <td></td>
        {% elseif label == '_identifier_'and action %}
            <td></td>
        {% endif %}
        {% set i = i+1 %}
    {% endfor %}
</tr>
